@tailwind base;
@tailwind components;
@tailwind utilities;

.w-default {
  max-width: 1280px;
  // width: 100%;
  margin: 0 auto;
}

.title-size {
  font-size: 2rem;
}

.search-input-w {
  max-width: 980px;
  // width: 100%;
  min-width: 480px;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  // left: 0;
}

.has-tooltip:hover .tooltip {
  visibility: visible;
  z-index: 100;
}

// input[type="range"] {
//   width: 1080px;
// }

// input[type=range]::-webkit-slider-runnable-track {
//   width: 100%;
//   height: 14px;
//   cursor: pointer;
//   box-shadow: 1px 1px 1px #50555C;
//   background: #50555C;
//   border-radius: 14px;
//   border: 0px solid #000000;
// }

// input[type=range]::-webkit-slider-thumb {
//   box-shadow: 0px 0px 0px #000000;
//   border: 2px solid #000000;
//   height: 20px;
//   width: 20px;
//   border-radius: 50%;
//   background: white;
//   cursor: pointer;
//   -webkit-appearance: none;
//   margin-top: -3px;
// }